**/__pycache__/
**/venv/
**/trash/
**/extensions/
**.json
**.xlsx
class_errors.txt
symbols.py
**/models/
old_code.txt
help.py
clean_pending_orders.py
symbols_rank.py
result_report.py
position_history.db
position_history.db-journal
database_analize.py
old_strategies.py
play.py

